<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Projet Forum">
<meta name="author" content="Projet Prepro">

<title>{% block title %}Welcome!{% endblock %}</title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">

<link href="{{ asset('TemplateCoreUi/src/css/style.css') }}" rel="stylesheet">
{% block stylesheets %}{% endblock %}
<script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-9510961-27', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <!--Bar de navigation horizontale du haut -->
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-list"></i></a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset('TemplateCoreUi/src/img/avatars/6.jpg') }}" class="img-avatar" alt="admin@bootstrapmaster.com">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>

                    <div class="dropdown-header text-center">
                        <strong>Settings</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-secondary">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
       
    </header>
    <div class="app-body">
        <!-- Sidebar a gauche -->
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
                    </li>
                    <li class="nav-title">Theme</li>
                    <li class="nav-item">
                        <a href="colors.html" class="nav-link"><i class="icon-drop"></i> Colors</a>
                    </li>
                    <li class="nav-item">
                        <a href="typography.html" class="nav-link"><i class="icon-pencil"></i> Typograhy</a>
                    </li>
                    <li class="nav-title">Components</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Base</a>
                    <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="base-breadcrumb.html"><i class="icon-puzzle"></i> Breadcrumb</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-cards.html"><i class="icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-carousel.html"><i class="icon-puzzle"></i> Carousel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-collapse.html"><i class="icon-puzzle"></i> Collapse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-forms.html"><i class="icon-puzzle"></i> Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-jumbotron.html"><i class="icon-puzzle"></i> Jumbotron</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-list-group.html"><i class="icon-puzzle"></i> List group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-navs.html"><i class="icon-puzzle"></i> Navs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-pagination.html"><i class="icon-puzzle"></i> Pagination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-popovers.html"><i class="icon-puzzle"></i> Popovers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-progress.html"><i class="icon-puzzle"></i> Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-switches.html"><i class="icon-puzzle"></i> Switches</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="base-tables.html"><i class="icon-puzzle"></i> Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-tabs.html"><i class="icon-puzzle"></i> Tabs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base-tooltips.html"><i class="icon-puzzle"></i> Tooltips</a>
                    </li>
                    </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-cursor"></i> Buttons</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="buttons-buttons.html"><i class="icon-cursor"></i> Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="buttons-button-group.html"><i class="icon-cursor"></i> Buttons Group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="buttons-dropdowns.html"><i class="icon-cursor"></i> Dropdowns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="buttons-social-buttons.html"><i class="icon-cursor"></i> Social Buttons</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Charts</a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Icons</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="icons-flags.html"><i class="icon-star"></i> Flags <span class="badge badge-success">NEW</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="icons-font-awesome.html"><i class="icon-star"></i> Font Awesome <span class="badge badge-secondary">4.7</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="icons-simple-line-icons.html"><i class="icon-star"></i> Simple Line Icons</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-bell"></i> Notifications</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="notifications-alerts.html"><i class="icon-bell"></i> Alerts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="notifications-badge.html"><i class="icon-bell"></i> Badge</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="notifications-modals.html"><i class="icon-bell"></i> Modals</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="widgets.html"><i class="icon-calculator"></i> Widgets <span class="badge badge-primary">NEW</span></a>
                    </li>
                    <li class="divider"></li>
                    <li class="nav-title">Extras</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="pages-login.html" target="_top"><i class="icon-star"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-register.html" target="_top"><i class="icon-star"></i> Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-404.html" target="_top"><i class="icon-star"></i> Error 404</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-500.html" target="_top"><i class="icon-star"></i> Error 500</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mt-auto">
                        <a class="nav-link nav-link-success" href="https://coreui.io/" target="_top"><i class="icon-cloud-download"></i> Download CoreUI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top"><i class="icon-layers"></i> Try CoreUI <strong>PRO</strong></a>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>

    <main class="main">
     {% block body %}{% endblock %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>

            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#"><i class="icon-speech"></i></a>
                    <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li>
        </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <i class="icon-drop"></i> Theme colors
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="p-3 mb-3 bg-primary">Primary</div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 mb-3 bg-secondary">Secondary</div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 mb-3 bg-success">Success</div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 mb-3 bg-danger">Danger</div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 mb-3 bg-warning">Warning</div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 mb-3 bg-info">Info</div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 mb-3 bg-light">Light</div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 mb-3 bg-dark">Dark</div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="card">
                <div class="card-header">
                    <i class="icon-drop"></i> Grays
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="p-3 bg-gray-100">100</div>
                            <div class="p-3 bg-gray-200">200</div>
                            <div class="p-3 bg-gray-300">300</div>
                            <div class="p-3 bg-gray-400">400</div>
                            <div class="p-3 bg-gray-500">500</div>
                            <div class="p-3 bg-gray-600">600</div>
                            <div class="p-3 bg-gray-700">700</div>
                            <div class="p-3 bg-gray-800">800</div>
                            <div class="p-3 bg-gray-900">900</div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card">
            <div class="card-header">
                <i class="icon-drop"></i> Additional colors
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-blue">Blue</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-indigo">Indigo</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-purple">Purple</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-pink">Pink</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-red">Red</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-orange">Orange</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-yellow">Yellow</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-green">Green</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-teal">Teal</div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 mb-3 bg-cyan">Cyan</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </main>

</div>
<footer class="app-footer">
<span><a href="https://coreui.io">CoreUI</a> © 2018 creativeLabs.</span>
<span class="ml-auto">Powered by <a href="https://coreui.io">CoreUI</a></span>
</footer>

<script src="{{ asset('JQuery/jquery-3.3.1.min.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{{ asset('TemplateCoreUi/src/js/app.js') }}"></script>
{% block javascripts %}{% endblock %}



</body>
</html>
