{% extends "::base.html.twig" %}

{% block title %}ForumBundle:User:home{% endblock %}

{% block body %}
   



<h1>Projets : </h1>
<ul>
{% for topic in topics %}
       <a href="{{ path('topic', { 'id': topic.id }) }}"><li>{{ topic.title }}</li></a>
    {% endfor %}
</ul>
{% endblock %}
