{% extends "::base.html.twig" %}

{% block title %}ForumBundle:User:topic{% endblock %}

{% block body %}
<h1>{{ topic.title}}</h1>
<p>{{ topic.description}}</p>
<p>Auteur : {{ topic.user.username}}</p>
{% endblock %}
